body {
  background: peachpuff;
  border: 2px solid black;
}
* {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  font-size: 8em;
}

.wrapper {
  width: 100%;
  display: flex;
  min-height: 40vh;
}

header {
  width: 100%;
  border: 2px solid black;
  margin: 30px;
}

  aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

aside > div {
  border: 2px solid black;
  margin: 30px;
  flex-grow: 1;
  width: 25%;
}

footer {
  border: 2px solid black;
  margin: 30px;
  width: 25%;
}

@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }

  header {
    min-height: 20vh;
  }

  aside > div {
    min-height: 20vh;
  }
  
  footer {
    width: 96%;
    min-height: 30vh;
  }
}

