body {
  border: 2px solid black;
  font-size: 4em;
  background: rgb(182, 180, 180);
}

.container {
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  min-height: 100vh;
}

.a {
  width: 100%;
  border: 2px solid black;
  margin: 10px;
  background-color: gray;
  padding: 150px;
}

.b { 
  flex: 5;
  border: 2px solid black;
  margin: 10px;
  background-color: gray;
  padding: 200px;
}

.c {
  flex: 1;
  border: 2px solid black;
  margin: 10px;
  background-color: gray;
  padding: 200px;
}

@media (max-width: 600px) {
  .container {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    width: 100%;
  } 
  .a, .c {
    padding: 20px;
    flex: 1;
  }

}