body {
  background: blanchedalmond;
}

div {
  min-height: 200px;
}

@media (min-width:600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: gray;
    text-align: center;
    border-color: black;
  }
}

@media (max-width: 1400px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: gray;
    text-align: center;
    border-color: black;
  }
}  